
<style>
      .error{
            text-align: center;
      }
      .link a{
        text-decoration: none;
      }

</style>

<div class="error container alert alert-danger" role="alert">
    ohhhhh!!! <br> You are not found in our system so , please   <br></div>






<div class="link container">
 <a href="/user/login">
 <button  class=" btn btn-primary btn-lg btn-block">login</button> </a>
<br>
 <a href="/user/register"><button  class="btn btn-success btn-lg btn-block">Register</button></a><div>