<head>
  <link rel="stylesheet" href="../fonts/material-icon/css/material-design-iconic-font.min.css">

  <!-- Main css -->
  <link rel="stylesheet" href="../CSS/style.css">
</head>

<div class="lower-container">
  <div class="content">

    <div class="ctext">
      <h1> Features of HR Systems</h1>
      <h2>Here Our departments let's see </h2>
    </div>

    

          <div class="second-row">
            <img src="../images/img_row_all_devices_invoicing_579_371.png" alt="">
            <div class="data1">
              <h3>Manufacturing</h3>
              <p>With effective and careful use of resources, we’re improving everybody’s quality of life,
                 while increasing the quality of our work environments.</p>
              <a href="/employee/manufacture">
              <button type="button" name="button">Open Department</button>
              </a>
            </div>
          </div>

          <div class="first-row">
              <img src="../images/img_row_cloud_all_devices_577_371.png" alt="">
            <div class="data1">
              <h3>Research & Development</h3>
              <p>In Research & Development, you’re the one who’ll decide what we create next.
                 Whether it’s designing street lamps that help people find parking spaces or making the next breakthrough in renewable energy, the future is in your hands.</p>
              <a href="/employee/research">
              <button type="button" name="button">Open Department</button>
              </a>
            </div>
          </div>

          <div class="first-row">
              <img src="../images/img_row_cloud_all_devices_577_371.png" alt="">
            <div class="data1">
              <h3>Engineering</h3>
              <p>As an engineer, you’ll help us unlock the undreamed-of potential in society,
                 technology and business in today’s world. By building new products and solutions,
                  we can create a better future for everyone, together. </p>
                  <a href="/employee/engineering">
                  <button type="button" name="button">Open Department</button>
                  </a>
            </div>
          </div>
          <div class="second-row">
            <img src="../images/img_row_all_devices_invoicing_579_371.png" alt="">
            <div class="data1">
              <h3>Information Technology</h3>
              <p>The IT department acts as a partner for the Business Units and Regions and brings
                 strategic topics like the digitalization of our processes, products and services to life.
                  We work on leading digital, mobile and flexible working scenarios.</p>
              <a href="/employee/IT">
              <button type="button" name="button">Open Department</button>
              </a>
            </div>
          </div>

          <div class="first-row">
              <img src="../images/img_row_cloud_all_devices_577_371.png" alt="">
            <div class="data1">
              <h3>Sales & Marketing</h3>
              <p>The heart of our role is understanding the current and future needs of our customers and partnering
                 with them to provide solutions to solve their problems – and make their businesses better.</p>
              <a href="/employee/sales">
              <button type="button" name="button">Open Department</button>
              </a>
            </div>
          </div>

          <div class="second-row">
            <img src="../images/img_row_all_devices_invoicing_579_371.png" alt="">
            <div class="data1">
              <h3>Operations</h3>
              <p>help us move forwards in fields like Customer Service, Environmental Protection, 
                Quality Management and Procurement & Logistics to name a few.
                 Whatever role you’re passionate about, you’ll help form the infrastructure
                  to our business.</p>
              <a href="/employee/operations">
              <button type="button" name="button">Open Department</button>
              </a>

            </div>
          </div>

          <div class="btn2">
            <a href="/employee/employeesList">
            <button type="button" name="button">See All Employees</button>
            </a>
          </div>

        </div>

      </div>